body {

    margin: 0;
    padding: 0;
}

.ul {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    background-color: black;
    height: 40px;   
    margin: 5px;

}

.ul li {
    color: white;
    list-style: none;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;

}

.bg1 {
    width: 20%;
    height: 40px;
    /* border: 2px red solid; */
    font-size: 30px;
   
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
.bg1 a{
 text-decoration: none;
    color: black;
}
.bg2 {
    width: 50%;
    height: 40px;
    background-color: rgb(194, 187, 177);
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    color: grey;
}

.bg3 {
    width: 30%;
    height: 40px;
    /* border: 2px red solid; */
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.b3 li {
    list-style: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
}

.nav li {
    list-style: none;
}
.nav li a{
     text-decoration: none;
    color: black;
}
.one {
    font-size: 20px;
    color: rgb(54, 54, 54);
    font-weight: bold;
}

.two {
    font-size: 20px;
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.three {
    font-size: 20px;
    color: rgb(5, 150, 63);
    font-weight: bold;
}

.banner {
    width: 100%;
    height: auto;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  background-color: yellow; */

}

.banner-box {
    width: 90%;
    height: 100%;
}

.puma {
    width: 100%;
    height: 100%;
}

.hdfc {
    width: 80%;
    height: 200px;

}

.hdfc-img {
    width: 100%;
    height: 100%;
}

.beardo {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.beard {
    width: 90%;
    height: 100%;
    /* background-color: pink; */
}

.eid-img {
    width: 100%;
    height: 100%;
}

p {
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e-box {
    width: 100%;
    height: 300px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.e1 {
    width: 150px;
    background-color: gainsboro;
    height: 50%;
    border-radius: 10px;
}   

.e-img {
    width: 100%;
    height: 100%;
}
.traditional{
    width: 100%;
    height: 400px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.trad{
    width: 90%;
    height: 100%;

}
.trad-img{
    width: 100%;
    height: 100%;
}


.brand{
   width: 100%;
   height: 300px;
   /* background-color: yellow; */
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   /* margin: 20px; */
    /* margin-top: 50px; */
}
.brand-box{
   width: 70%;
   height: 100%;
}
.brand-img{
   width: 100%;
   height: 100%;
}
.text{
    text-align: center;
}

.slider-container,.slider-container1 {
    max-width:90%;
    position: relative;
    margin: auto;
    overflow: hidden;
    /* height: 350px; */
}

.slides,.slides1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
    height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0,0,0,0.5);
    border: none;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots {
    text-align: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}
.lastbox {
    width: 100%;
    height: 600px;
    display: flex;
    background-color: rgb(254, 248, 251);
}

.b1 {
    width: 25%;
    height: 400px;
}

.b11 {
    text-align: end;
    justify-content: end;
    align-items: center;
    padding-top: 40px;
    padding-right: 20px;
}

.b2 {
    width: 15%;
    height: auto;
}

.b22 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    align-items: center;
    padding-right: 20px;
}

.b3 {
    width: 15%;
    height: 400px;
}

.b33 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 40px;
    align-items: center;
    margin-right: 140px;
}

.abc {
    font-weight: bold;
}

.find {
    width: 100px;
    height: 50px;
    font-size: larger;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 400px;
    height: 30px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 30px;
    margin-right: 150px;
}

.sign {
    font-size: 18px;
    margin-bottom: 20px;
}

.search1 {
    width: 90%;
    height: 30px;
    background-color: rgb(255, 252, 252);
    justify-content: start;
    align-items: center;
    display: flex;
    color: grey;
    padding: auto;
}

.search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    height: 30px;
    border-style: groove;
    display: flex;
    margin: 10px;
}

.search2 {
    width: 40%;
    height: 32px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding-left: 5px 5px 5px 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.search11 {
    width: 80%;
    height: 30px;
    background-color: rgb(255, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.searchh {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-style: groove;
}

.search22 {
    width: 40%;
    height: 30px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding-left: 5px 5px 5px 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.us {
    width: 20%;
    height: 30px;
    background-color: rgb(222, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.navitem11 {
    width: 500px;
    height: 40px;
    color: rgb(120, 118, 118);
    ;
    margin-top: 20px;
    font-size: smaller;
}

.acc {
    width: 500px;
    height: 50px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lastboxx {
    width: 500px;
    height: 60px;
    background-color: rgb(254, 248, 251);
}

.sb1 {
    width: 40px;
    height: 30px
}

.lastboxxx {
    width: 500px;
    height: 50px;
    background-color: rgb(254, 248, 251);
}

.sb11 {
    width: 50px;
    height: 40px;
    margin: 20px;
}

.sbox {
    width: 550px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px
}

.ssbox {
    background-color: rgb(254, 248, 251);
    color: grey;
}
